.container {
  font-size: medium;
  font-weight: 700;
}

p {
  color: gray;
}

.continuebtn {
  position: relative;
  display: block;
  width: 100%;
  background: #FFA500;
  border: 1px solid #FFA500;
  color: #131313;
  font-size: 16px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  cursor: pointer;
  font-size: large;
}

.continuebtn:hover {
  color: #ffffff;
  background: #2874f0;
}